/*--------------------
-----Main Styles------
----------------------*/
html, body { height: 100%; }
body{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
	color:#5d5e5f;
	overflow-x:hidden;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -67px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
    font-weight:100;
    color: #333;
}

a,
a:hover,
a:focus,
a:active,
a.active,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a.active {
    outline: none !important;
    outline: 0;
    color: #18bc9c;
}

 /*----------------------
 ----Navigation Styles---
 ------------------------*/
 .navbar-default {background-color: #323641; }
 @media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
/* Overwrite */
.navbar-fixed-bottom, .navbar-fixed-top { position: inherit;margin:0px; }

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a { color: #ffffff; }
.navbar-brand { padding: 0px 15px; }
.navbar-brand img {
    display: initial;
    height: inherit;
    margin-right: 5px;
}

/*--------------------
----Visualisation ----
----------------------*/
/*#content {
    background: url('img/bg.jpg') repeat;
}

#content col-sm-* {
    background: #333333;
    color: #ffffff;
}*/

#wordcloud, #bubble, .navigation {
    margin-top: 20px;
    float:left;
    width: 50%;
}

/* Zoomable Circle Packing */
.node { cursor: pointer; }

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
.node--leaf { fill: white; }

.label {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  pointer-events: none;
}

.d3-tip {
  text-align: center;
  font-size: 1.2em;
  padding: 12px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  z-index: 1;
  /*
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;*/
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Sunburst */
.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
}

div.tooltip {
    background: lightblue;
    border:solid gray;
    position: absolute;
    max-width: 15em;
    text-align:left;
}

g.tooltip:not(.css) { fill:currentColor; }

#main {
  float: left;
  width: 550px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 50px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#description text {
  font-weight: 300;
  background-color: #fff;
  color: #000;
  fill: #000;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 235px;
  left: 205px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}


/** Barchart **/
.bar {
	fill: steelblue;
  }

  .bar:hover {
	fill: brown;
  }

  .axis {
	font: 10px sans-serif;
  }

  .axis path,
  .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
  }

  .x.axis path {
	display: none;
  }

 /*--------------------
 -----  Footer  -------
 ----------------------*/

footer {
    color: #fff;
    padding: 25px 0;
    background-color: #233140;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-col {
    margin-bottom: 50px;
}
