/*--------------------
-----Main Styles------
----------------------*/
html, body { height: 100%; }
body{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
	color:#5d5e5f;
	overflow-x:hidden;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -67px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
    font-weight:100;
    color: #333;
}

a,
a:hover,
a:focus,
a:active,
a.active,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a.active {
    outline: none !important;
    outline: 0;
    color: #18bc9c;
}

 /*----------------------
 ----Navigation Styles---
 ------------------------*/
 .navbar-default {background-color: #323641; }
 @media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
/* Overwrite */
.navbar-fixed-bottom, .navbar-fixed-top { position: inherit;margin:0px; }

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a { color: #ffffff; }
.navbar-brand { padding: 0px 15px; }
.navbar-brand img {
    display: initial;
    height: inherit;
    margin-right: 5px;
}

#feedback{
    text-shadow: -2px 1px 8px #F1E341, 1px -2px 8px #F1E341;
}

/*--------------------
----Visualisation ----
----------------------*/
/*#content {
    background: url('img/bg.jpg') repeat;
}

#content col-sm-* {
    background: #333333;
    color: #ffffff;
}*/
.blocktitle {
	border-bottom: 1px solid #333;
	width: 90%;
}
#wordcloud, #bubble, .navigation {
    margin-top: 20px;
    float:left;
}

/*wordcloud legend*/

/*#wordCloudLegend {
    float:left;
    margin-left: 5px;
}*/

.dropbtn {
    background:url(../img/icon/filter.png) no-repeat;
    background-size: cover;
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.dropbtnGear {
    background:url(../img/icon/gear.png) no-repeat;
    background-size: cover;
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    background-color: white;
}



.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    background-color: white;
    overflow: visible;
}



.dropdown2:hover .dropdown-content2 {
    display: block;
    padding: 3px;
}

/* Belgian Map */
.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.scaleAndTitle {
  vertical-align: top;
  padding: 2px 12px;
}

.scaleAndTitle h2 {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 4px;
  color: #2c3a78;
}

.scaleAndTitle p.scaleUnit {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  padding-bottom: 3px;
  font-weight: bold;
}

.swatch {
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: -4px;
}

.swatch span {
  display: inline-block;
  font-family: "Droid Sans Mono";
  font-size: 12px;
  position: relative;
  top: 100%;
  left: 0;
  width: 200%;
  text-align: center;
}

.sharing {
  position: absolute;
  top: 0;
  right: 6px;
  height: 100%;
}

.sharing span {
  width: 32px;
  height: 100%;
  display: inline-block;
  padding: 0 6px;
  border-left: 1px solid #e3d7c4;
}

.sharing span i {
  font-size: 28px;
  color: #777;
  line-height: 100px;
}
/* Main */

#belmap {
  /*position: relative;*/
  padding-right: 12px;
  /*border: 1px solid #ddd;*/
  cursor: pointer;
}

#belmap svg {
  overflow: hidden;
}

/*Radio Buttons*/


#buttons span {
  font-size: 23px;
}

input[type=radio].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:21px;
    height:16px; 
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -16px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_cce337a3f8bb55521f55ec55906db31e.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





#search {
  position: absolute;
  top: 2%;
  z-index: 5;
  width: 100%;
  pointer-events: none;
}

#search > div {
    width: 520px;
    max-width: 98%;
    margin: 0 auto;
  background-color: white;
    border: 1px solid #e3d7c4;
    font-family: "Roboto Condensed", sans-serif;
    pointer-events: all;
    cursor: default;
}

#search > div > * {
  width: 402px;
  max-width: 98%;
  margin: 0 auto !important;
  padding: 0 8px;
}

#search h1 {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #2c3a78;
  padding-top: 10px;
}

#search p.intro {
  padding: 10px 8px 18px 8px;
}

#townSearch input {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  border: 1px solid #e3d7c4;
  background-color: #fdfcfb;
}

#search div.promo {
  width: 100%;
  max-width: 9999px;
  min-height: 76px;
  margin-top: 18px !important;
  background-color: #faeede;
  border-top: 1px solid #e3d7c4;
}

#search div.promo p {
  margin: 0 auto;
  padding: 12px 8px;
  font-size: 15px;
  max-width: 360px;
}

#search div.promo p img {
  float: left;
  width: 80px;
  margin-top: -20px;
  margin-right: 12px;
}

#search div.promo a {
  font-weight: bold;
  color: #2c3a78;
  pointer-events: all;
}

#zoomOut {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  background-color: rgba(44, 59, 120, 0.8);
  color: white;
  padding: 6px;
  width: 130px;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  display: none;
}

#zoomOut i {
  margin-right: 6px;
}

/* Borders */
.gemeentegrens {
  fill: none;
  stroke: #fff;
  stroke-width: 0.25;
  stroke-linejoin: round;
}

.provinciegrens {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.landsgrens {
  fill: none;
  stroke: #888;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.zoomed {
  stroke: #444;
  stroke-width: 0.45;
  stroke-linejoin: round;
}

/* Legend */
.c0 { fill:#398258; background-color: #398258; }
.c1 { fill:#6f9c63; background-color:#6f9c63;}
.c2 { fill:#81b160; background-color:#81b160;}
.c3 { fill:#afd360; background-color:#afd360;}
.c4 { fill:#e3a03a; background-color:#e3a03a;}
.c5 { fill:#e77c4a; background-color:#e77c4a;}
.c6 { fill:#da5239; background-color:#da5239;}
.c7 { fill:#bd4934; background-color:#bd4934;}
.noinfo { fill: #888; background-color: #888;}



/* Zoomable Circle Packing */
.node { cursor: pointer; }

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
.node--leaf { fill: white; }

.label {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  pointer-events: none;
}

.d3-tip {
  font-size: 1.2em;
  padding: 12px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Sunburst */

#sunburst{
    border-left: rgba(0,0,0,0.2) 1px dashed;
}

.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
}

div.tooltip {
    background: lightblue;
    border:solid gray;
    position: absolute;
    max-width: 15em;
    text-align:left;
}

g.tooltip:not(.css) { fill:currentColor; }

#main {
  float: left;
  /*width: 550px;*/
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 50px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#description text {
  font-weight: 300;
  background-color: #fff;
  color: #000;
  fill: #000;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 235px;
  left: 205px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}


/** Barchart **/
.bar {
	fill: steelblue;
  }

  .bar:hover {
	fill: brown;
  }

  .axis {
	font: 10px sans-serif;
  }

  .axis path,
  .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
  }

  .x.axis path {
	display: none;
  }

 /*--------------------
 -----  Footer  -------
 ----------------------*/

footer {
    color: #fff;
    padding: 25px 0;
    background-color: #233140;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-col {
    margin-bottom: 50px;
}
